.box-link {
    padding: 20px;
}

.btn-copy-data-clipboard {
    padding: 0;
    border: none;
}

.btn-copy-data-clipboard i {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) and (min-width: 768px) {
    .box-link {
        padding: 0;
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 480.98px) {
    .box-link {
        padding: 0;
    }
}